@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --index: calc(1vw+1vh)
}

::-webkit-scrollbar {
  width: 0;
}

body {
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

h1, h2 {
    font-family: 'Outfit', sans-serif;
}

.header {
    height: 100vh;
}

.header, .content, .column__left, .column__right {
     will-change: transform;
}

.header__img {
    width: calc(var(--index) * 50);
    position: absolute;
    bottom: 0vh;
    right: 0vw;
    z-index: -1;
}

.header__title {
    font-size: calc(var(--index) * 8);
    color: #7e232d;
    font-family: sans-serif;
    width: min-content;
    position: absolute;
    bottom: 15vh;
    left: 6vw;
}

.container {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

.column__left, .column__right {
    display: flex;
    flex-direction: column;
}

.column__text {
    color: #fafafa;
    font-size: calc(var(--index) * 2);
}

.column__item {
    margin-top: 20vh;
    width: 30vw;
}

img {
    border-radius: 8px;
}

.column__text_h {
    font-size: calc(var(--index) * 2);
	line-height: 2.4rem;
	margin-bottom: 1.5rem;
}
.column__text_p {
	line-height: 1.75;
}